extends layout

block content
  h1= title
  p Welcome to #{title}

  form(name='userlogin',method='post')
  div
    label Username:
    input(type ='text',name = 'txtUsername')
  div
    label Password:
    input(type ='Password',name ='txtPassword')
  div
    input(type ='submit',value ='login')